{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

<div class="isu-people_full-page">

  {% if node.field_people_position[0] %}
    <ul class="list-inline h5 isu-people_position-list">
        {% for key, item in content.field_people_position if key|first !='#' %}
          <li class="list-inline-item">{{ item }}</li>
        {% endfor %}
      </ul>
  {% endif %}

  <div class="isu-people-page_node">
    <div class="container isu-people-page_container">
      <div class="row">
        <div class="col-md-4">
          <div class="card isu-people-page_id-card">
            <div class="card-body">
              {% if node.field_people_image[0] %}
                {{ content.field_people_image }}
              {% endif %}
            </div>
            <div class="list-group list-group-flush">

              {% if node.field_people_street[0]  
                 or node.field_people_city[0] 
                 or node.field_people_state[0] 
                 or node.field_people_postal[0] %}
                <div class="isu-people_address list-group-item">
                  <i class="fa fa-map-marker"></i>
                  <div>
                    {% spaceless %}
                    <div class="isu-people_street">{{ content.field_people_street.0 }}</div>
                    <div class="isu-people_city-state-postal">
                      <div class="isu-people_city">{{ content.field_people_city.0 }}</div>
                      {% if node.field_people_city[0] and node.field_people_state[0] %}<span>, </span>{% endif %}
                      <div class="isu-people_state">{{ content.field_people_state.0 }}</div>
                      {% if node.field_people_state[0] and node.field_people_postal[0] %}<span>&nbsp;</span>{% endif %}
                      <div class="isu-people_postal">{{ content.field_people_postal.0 }}</div>
                    </div>
                    {% endspaceless %}
                  </div>
                </div>
              {% endif %}

              {% if node.field_people_email[0] %}
                <div class="isu-people_email list-group-item">
                  <i class="fa fa-envelope-o"></i>
                  <span><a href="mailto:{{ content.field_people_email.0 }}">{{ content.field_people_email.0 }}</a></span>
                </div>
              {% endif %}

              {% if node.field_people_phone[0] %}
                <div class="isu-people_phone list-group-item">
                  <i class="fa fa-phone"></i>
                  <span>{{ content.field_people_phone}} </span>
                </div>
              {% endif %}

              {% if node.field_people_websites[0] or node.field_people_cv[0] %}
                <div class="isu-people_websites list-group-item">
                  {% if node.field_people_cv[0] %}
                    <div class="isu-people_cv">
                      <a href="{{ file_url(node.field_people_cv.entity.fileuri) }}">Download CV</a>
                    </div>
                  {% endif %}

                  {% if node.field_people_websites[0] %}
                    <ul class="list-unstyled isu-social-menu isu-social-menu_people">
                      {% for key, item in content.field_people_websites if key|first !='#' %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}

              {% if node.field_tags[0] %}
                <div class="isu-people_tags list-group-item">
                  {{ content.field_tags }}
                </div>
              {% endif %}

            </div>
          </div>
        </div>
        <div class="col-md-8 isu-people-full_content-col">
          {% if node.field_people_research[0] %}
            <div class="isu-people_research">
              <h2 class="h3">{{ node.field_people_research.fieldDefinition.label }}</h2>
              <div>{{ content.field_people_research.0 }}</div>
            </div>
          {% endif %}
          
          {% if node.body[0] %}
            <div class="isu-people_biography">
              <h2 class="h3">{{ node.body.fieldDefinition.label }}</h2>
              <div>{{ content.body.0 }}</div>
            </div>
          {% endif %}

          {% if node.field_people_education[0] %}
            <div class="isu-people_education">
              <h2 class="h4">{{ node.field_people_education.fieldDefinition.label }}</h2>
              <ul class="list-unstyled isu-people_education-list">
                {% for key, item in content.field_people_education if key|first != '#' %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if node.field_people_teaching[0] %}
            <div class="isu-people_teaching">
              <h2 class="h4">{{ node.field_people_teaching.fieldDefinition.label }}</h2>
              <ul class="list-unstyled isu-people_teaching-list">
                {% for key, item in content.field_people_teaching if key|first != '#' %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if node.field_people_affiliations[0] %}
            <div class="isu-people_affiliations">
              <h2 class="h4">{{ node.field_people_affiliations.fieldDefinition.label }}</h2>
              <ul class="list-unstyled isu-people_affiliations-list">
                {% for key, item in content.field_people_affiliations if key|first != '#' %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if node.field_people_interdepartment[0] %}
            <div class="isu-people_interdepartment">
              <h2 class="h4">{{ node.field_people_interdepartment.fieldDefinition.label }}</h2>
              <ul class="list-unstyled isu-people_interdepartment-list">
                {% for key, item in content.field_people_interdepartment if key|first != '#' %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>