{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set has_links = false %}
	{% for link in content.field_social_media_links %}
		{% if 'facebook.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'twitter.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'x.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'linkedin.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'instagram.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'pinterest.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'vimeo.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'youtube.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'snapchat.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'libsyn.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'podcasts.google.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% elseif 'podcasts.apple.com' in link['#url']|render|render %}
								{% set has_links = true %}

					{% endif %}
		{% endfor %}



{% if has_links %}
<div {{ attributes.addClass("isu-social-menu-red", "isu-social-menu") }}>
	{{ title_prefix }}
	{% block content %}
		<div class="dropdown">
			<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
				Social Media
			</button>
			<ul class="dropdown-menu" id="list-items" aria-labelledby="dropdownMenuButton">
				{% for link in content.field_social_media_links %}
					{% if 'facebook.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Join us  on Facebook" class="dropdown-item" aria-label="Follow us on Facebook">{{ link['#title'] }}</a>
						</li>
					{% elseif 'twitter.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Join us on Twitter" class="dropdown-item" aria-label="Follow us on Twitter">{{ link['#title'] }}</a>
						</li>
					{% elseif 'x.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Join us on X" class="dropdown-item" aria-label="Follow us on X">{{ link['#title'] }}</a>
						</li>
					{% elseif 'linkedin.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Join us on LinkedIn" class="dropdown-item" aria-label="Connect with us on Linked In">{{ link['#title'] }}</a>
						</li>
					{% elseif 'instagram.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Join us on Instagram" class="dropdown-item" aria-label="Follow us on Instagram">{{ link['#title'] }}</a>
						</li>
					{% elseif 'pinterest.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Join us on Pinterest" class="dropdown-item" aria-label="Find us on Pinterest">{{ link['#title'] }}</a>
						</li>
					{% elseif 'vimeo.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Watch us on Vimeo" class="dropdown-item" aria-label="Watch our videos on Vimeo">{{ link['#title'] }}</a>
						</li>
					{% elseif 'youtube.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Watch our YouTube Channel" class="dropdown-item" aria-label="Watch our videos on YouTube">{{ link['#title'] }}</a>
						</li>
					{% elseif 'snapchat.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Join us on Snapchat" class="dropdown-item" aria-label="Follow us on Snapchat">{{ link['#title'] }}</a>
						</li>
					{% elseif 'libsyn.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Listen on Libsyn" class="dropdown-item" aria-label="Listen to our podcast on Libsyn">{{ link['#title'] }}</a>
						</li>
					{% elseif 'podcasts.google.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Listen on Google Podcasts" class="dropdown-item" aria-label="Listen to our podcast on Google">{{ link['#title'] }}</a>
						</li>
					{% elseif 'podcasts.apple.com' in link['#url']|render|render %}
						<li>
							<a href="{{link['#url'] }}" title="Listen on Apple Podcasts" class="dropdown-item" aria-label="Listen to our podcast on Apple">{{ link['#title'] }}</a>
						</li>
					{% endif %}
				{% endfor %}

				{{ title_suffix }}

			{% endblock %}
		</ul>
	</div>
</div>
{% endif %}