{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set block_classes = [
    is_front ? 'isu-block-front' : '',
    'isu-block'
  ]
%}

<div{{attributes.addClass(block_classes)}}>
	<div class="bean-card">
		{% block content %}
			{% if content.field_image_card_url.0['#url'].toString() is not empty %}
				<a id="{{ content.field_image_card_title[0] }}" aria-label="{{ content.field_image_card_title[0] }}" class="bean-card_link" href="{{ content.field_image_card_url.0['#url'] }}">
				{% endif %}

				<div class="bean-card_img">
					{{ content.field_image_card_image }}

					{% if content.field_image_card_url.0['#url'].toString() is not empty %}{% endif %}

					{{ title_prefix }}
					{% if content.field_image_card_caption.0 is empty %}
					<div>
						<span class="bean-card_label {{ content.field_image_card_text_size[0] }} {{ content.field_image_card_color_style[0] }}">
							<span class="bean-card_title">
								{% if content.field_image_card_icon.0 %}
									{{ content.field_image_card_icon.0 }}
								{% endif %}
								<p>{{ content.field_image_card_title[0] }}</p>
							</span>
							</span>
</div>
							{% else %}
							<div>
						<span class="bean-card_label {{ content.field_image_card_text_size[0] }} {{ content.field_image_card_color_style[0] }}">
							<span class="bean-card_title text-center">
								{% if content.field_image_card_icon.0 %}
									{{ content.field_image_card_icon.0 }}
								{% endif %}
								<p>{{ content.field_image_card_title[0] }}</p>
							</span>
								<span class="image-card_caption">
									<hr>
									<p>{% set text = content.field_image_card_caption|render|striptags|trim %}
										{{ (text|length > 200 ? text|slice(0, 201) |split(' ')|slice(0, -1)|join(' ') ~ '&hellip;' : text) |raw }}</p>
							</span>
						</span>
					</div>
								{% endif %}
				</a>
			</div>
			{{ title_suffix }}

		{% endblock %}
	</div>
</div>
