{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div {{ attributes.addClass("isu-footer_contact-address") }}>
  {{ title_prefix }}
    {% block content %}
    	<div class="isu-footer-title">Contact Iowa State University Extension and Outreach</div>
      <div class="footer-contact-links">
      {% if content.field_contact_creator_title[0]  %}
         <div class="isu-footer_contact-address-title">
           {{ content.field_contact_creator_title[0] }}
         </div>
      {% endif %}

	    {% if content.field_contact_creator_address[0] %}
        <div>
        <div class="footer-visit-us">Visit Us</div>
		      {{ content.field_contact_creator_address[0] }}
        </div>
	    {% endif %}

	    {% if content.field_contact_creator_email[0] %}
        <div>
        <div class="footer-email-us">Email Us</div>

		        {{ content.field_contact_creator_email[0] }}
        </div>
	    {% endif %}

      {% if content.field_contact_creator_phone[0]  %}
        <div>
            <div class="footer-call-us">Call Us</div>
           {{ content.field_contact_creator_phone[0] }}
        </div>
      {% endif %}

      {% if content.field_contact_creator_phone_2[0] %}
        <div>
          {{ content.field_contact_creator_phone_2[0] }}
        </div>
      {% endif %}
      </div>

     {{ title_suffix }}
    {% endblock %}
  </div>
